.container {
  max-width: 520px;
  padding: 20px 0 0 0;
  border: 3px solid black;
  border-radius: 20px;
  background-color: azure;
  margin: 0 auto;
  overflow: hidden;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image_card {
  width: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #2a2a2a;
  margin-bottom: 40px;
}

.profile_name {
  font-size: 48px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 20px;
}

.profile_tag {
  font-size: 24px;
  font-weight: 400;
  color: darkgrey;
  margin-bottom: 10px;
}
.profile_location {
  font-size: 24px;
  font-weight: 400;
  color: darkgrey;
  margin-bottom: 20px;
}

.profile_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile_list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  padding: 20px;
  font-size: 28px;
  color: #000;
  border-top: 3px solid #808080;
  border-right: 3px solid #808080;
  background-color: #d3d3d3;
  gap: 5px;
}
.profile_list_item:last-child {
  border-right: none;
}

.profile_list_title {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}

.profile_list_stats {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}
